{% layout 'layout.liquid' %}

{% block content %}

    <div class="container-md">

        <img class="logo" src="../bre-logo2.png"/>
        
        <div class="row justify-content-center">
            <div class="col-md-4"
                ><h2>Sorted: Artist</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            
            <div class="sort-categories col-md-2">
                <h3>
                    <div class="sort-button"><form action="/songs/title" method="POST"><button type="submit">Title</button></form></div>
                    <div class="sort-button"><form action="/songs/artist" method="POST"><button type="submit">Artist</button></form></div>
                    <div class="sort-button"><form action="/songs/year" method="POST"><button type="submit">Year</button></form></div>
                    <div class="sort-button"><form action="/songs/genre" method="POST"><button type="submit">Genre</button></form></div>
                </h3>
            </div>
            
            <div class="all-songs col-md-6">
            {% for song in songs %}

            <li>
                <a href="/songs/{{ song.id }}">"{{ song.title }}"</a> || <b>{{ song.artist }}</b> || {{ song.year }}  ||  {{ song.genre }}
            </li>
            {% endfor %}
        </div>
    </div>
        
    </div>
{% endblock %}
