{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <h2>Sorted: Genre</h2>

            <h3>
                <form action="/songs/title" method="POST"><button type="submit">Title</button></form>
                <form action="/songs/artist" method="POST"><button type="submit">Artist</button></form>
                <form action="/songs/year" method="POST"><button type="submit">Year</button></form>
                <form action="/songs/genre" method="POST"><button type="submit">Genre</button></form>
        </h3>

            <h1>Hey girl</h1>
            
            <p>testing1: {{ genre }}</p>
            <p>testing2: {{ genre[5] }}</p>



            {% comment %} {% for genre in songs %}
            {{ song.genre }}
            {{ genre.genre }}
            {{ song.title }}
            {{ genre.title }}
            hey girl
            {{ genre.id }}
            {{ song.id }}


            <li>                
                <a href="/songs/{{ song.id }}">"{{ song.title }}"</a> || {{ song.artist }} || {{ song.year }}  ||  <b>{{ song.genre }}</b>
            </li>


            {% endfor %} {% endcomment %}


        </article>
    </div>
{% endblock %}
