{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <h2>All Songs (searchable in the near future)</h2>

            {% for song in songs %}

            <li>
                "{{ song.title }}" || {{ song.artist }} || {{ song.year }}  ||  {{ song.genre }} || {{ song.position }}

                <p>
                    {% if song.position contains "Vocals" %}
                        <img src="rb-vocals.png">
                    {% else %}
                        <img src="rb-vocals-no.png">
                    {% endif %}
                    {% if song.position contains "Duet" %}
                        <img src="rb-duet.png">
                    {% else %}
                        <img src="rb-duet-no.png">
                    {% endif %}
                    {% if song.position contains "Harmonies" %}
                        <img src="rb-harm.png">
                    {% else %}
                        <img src="rb-harm-no.png">
                    {% endif %}
                    {% if song.position contains "Guitar" %}
                        <img src="rb-guitar.png">
                    {% else %}
                        <img src="rb-guitar-no.png"> 
                    {% endif %}
                    {% if song.position contains "Bass" %}
                        <img src="rb-bass.png">
                    {% else %}
                        <img src="rb-bass-no.png">
                    {% endif %}
                    {% if song.position contains "Drums" %}
                        <img src="rb-drums.png">
                    {% else %}
                        <img src="rb-drums-no.png">
                    {% endif %}
                    {% if song.position contains "Keys" %}
                        <img src="rb-keys.png">
                    {% else %}
                        <img src="rb-keys-no.png">
                    {% endif %}

            </p>
            </li>


            {% endfor %}


        </article>
    </div>
{% endblock %}
