{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <!-- you can do fun things like inline style with properties of your rendered object -->
        <!-- <article style="background-color:{{fruit.color}}"> -->
        <article>

            <h2>{{ song.title }}</h2>
            <!-- <img class="product-pic-solo" src="{{ product.img }}" />
            <h3>Description: {{ product.description }}</h3>
            <h3>Price: {{ product.price }}</h3>
            <h3>Quantity: {{ product.qty }}</h3> -->

        </article>
    </div>
{% endblock %}
