{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <h2>Sorted: Songs</h2>

            <h3>Title || Artist || Year || Genre</h3>

            {% for song in songs %}

            <li>
                <a href="/songs/{{ song.id }}">"{{ song.title }}"</a> || {{ song.artist }} || {{ song.year }}  ||  {{ song.genre }}
            </li>


            {% endfor %}


        </article>
    </div>
{% endblock %}
