{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <h2>Sorted: Title</h2>

            <h3>
                <form action="/songs/title" method="POST"><button type="submit">Title</button></form>
                <form action="/songs/artist" method="POST"><button type="submit">Artist</button></form>
                <form action="/songs/year" method="POST"><button type="submit">Year</button></form>
                <form action="/songs/genre" method="POST"><button type="submit">Genre</button></form>
        </h3>

            {% for song in songs %}

            <li>
                <a href="/songs/{{ song.id }}">"{{ song.title }}"</a> || {{ song.artist }} || {{ song.year }}  ||  {{ song.genre }}
            </li>


            {% endfor %}


        </article>
    </div>
{% endblock %}
