{% layout 'layout.liquid' %}

{% block content %}
<h1> Setlist Edit </h1>

<div class="form-container">
    <form action="/setlist/{{ setlist.id }}?_method=PUT" method="POST">

        <input type ="hidden" id="request" name="request" value="{{ setlist.request.id }}">

        <p><label>Song:
            <input
                type="text"
                name="title"
                placeholder="{{ setlist.request.title }}"
                readonly
            >
        </label></p>

        <p><label>Artist:
            <input
                type="text"
                name="artist"
                placeholder="{{ setlist.request.artist }}"
                readonly
            >
        </label></p>

        <p><label for="position"><span>Position</span></label>
        <select class="" name="position" id="position">
            {% if setlist.request.position contains "Vocals" %}
                <option value="Vocals">Vocals</option>
            {% endif %}
            {% if setlist.request.position contains "Guitar" %}
                <option value="Guitar">Guitar</option>
            {% endif %}
            {% if setlist.request.position contains "Bass" %}
                <option value="Bass">Bass</option>
            {% endif %}
            {% if setlist.request.position contains "Drums" %}
                <option value="Drums">Drums</option>
            {% endif %}
            {% if setlist.request.position contains "Keys" %}
                <option value="Keys">Keys</option>
            {% endif %}
        </select></p>

        <p>
            <label for="comment">Hello, Cleveland!</label><br />
            <textarea value="{{ setlist.comment }}" id="comment" name="comment" rows="4" cols="50"></textarea>
        </p>

        <input type="submit" value="Edit {{ setlist.request.title }}">

    </form>
</div>

{% endblock %}