{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>

            <h2>Setlist</h2>
            
            {% for setlist in setlist  %}
                {% if setlist.played == false %}
                    <li>
                        {{ setlist.title }} by {{ setlist.artist }} ({{ setlist.id }})<br />
                        Position: {{ setlist.position }}<br />
                        Requested by: {{ setlist.owner.username }}<br />
                        Comment: {{ setlist.comment }}<br />
                        <a href="/setlist/{{ setlist.id }}/edit"><button class="button is-info">Edit</button></a>
                        <form action="/setlist/{{ setlist.id }}?_method=DELETE" method="POST">
                            <input type="submit" value="WE ROCKED IT" class="btn btn-success">
                        </form>
                    </li><br/>
                {% endif %}
            {% endfor %}
            <br /><br />
        </article>
    </div>
{% endblock %}
