{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <img class="logo" src="../bre-logo2.png"/>

        <div class="row">
            <div class="col-auto offset-md-2 setlist-head">
                Setlist
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for setlist in setlist  %}
                    <div class="setlist-req-wrap">
                        <div class="row align-items-center">
                            <div class="req-song col-md">
                                <strong>"{{ setlist.request.title }}</strong>" by <strong>{{ setlist.request.artist }}</strong>
                            </div>
                            <div class="req-user col-md-3">
                                Position: <strong>{{ setlist.position }}</strong><br />
                                Requested by: <strong>{{ setlist.owner.username }}</strong>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="req-comment col-lg-11">
                                Comment:<br />
                                <strong>{{ setlist.comment }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form action="/setlist/{{ setlist.id }}?_method=DELETE" method="POST">
                                    <input type="submit" value="WE ROCKED IT" class="btn btn-success">
                                </form>
                            </div>
                            <div class="col-md-3">
                                {% if setlist.owner == userId %}
                                    <form action="/setlist/{{ setlist.id }}/edit">
                                        <input type="submit" value="Edit" class="btn req-edit-button">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}
